<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2011年，北京读研期间买了人生第一台笔记本电脑。</p>
        <p>2014年，毕业离开北京，来到家乡合肥，加入科大讯飞，开始走上语音识别这条不归路。</p>
        <p>2015年，迫于房贷，离开买了房的合肥，来到了杭州阿里巴巴，依然是研发语音各类项目，体验到了各种酸甜苦辣。</p>
        <p>2018年，抑制不住对远方的渴望，来到了上海，加入了百度，在大厂再接着经历不同的感受。</p>
        <p>2020年，开始写博客，核心愿望是记录分享工作生活的点滴</p>
        <p>未来，也想成为一名自由职业者，像 “纯洁的微笑” 博主一样，开始探索更多可能性。</p>
        <p>最喜欢读的一本书是《月亮与六便士》，追寻自己的内心，做真正最好的自己。</p>
        <p>提升自己，帮助他人，希望和一群有情有义的朋友，去做一件有价值有意义的事情。</p>
        <p>我是呐喊的少年，一个仍然在路上，向往自由和梦想的人！</p>

    <!--<p>
          <strong>个人公众号</strong>：<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">纯洁的微笑（ID：keeppuresmile）</a>，“分享技术、感悟人生”欢迎关注
        </p>-->

        <p><strong>About name</strong></p>

        <p>不在沉默中爆发，就在沉默中灭亡。很喜欢鲁迅的这句话，用呐喊的方式来唤醒沉睡中的人们</p>

     <!--<p>
          <a href="https://mp.weixin.qq.com/s/GNHJfYdlb-TXnb5r4KhYNA" target="_blank">   创建了一个知识星球，探索创业、黑客增长、营销策略、创意分享、商业案例等，如果你感兴趣，欢迎加入！
          </a>
        </p>-->

        <h2>Articles</h2>
        <p>几篇文章，方便让你快速了解我</p>

        <ul>
           <li>
            2020-05-20  <strong><a href="http://qingen.github.io/" target="_blank">六年程序生涯(本人下下周会更新，目前 bog 是 fork "纯洁的微笑" github 代码，正在逐步替换皮囊和灵魂中)
                </a></strong>
          </li>
        </ul>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>qingenz123</strong>（备注：博客）</li>
        </ul>

    <!--<p><strong>Group</strong></p>
        <p><em>创建了一些不同类别的QQ群，大家如果有兴趣可以加入，请不要重复入群！加入方式：请关注公众号：<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">纯洁的微笑</a>，回复关键字</em></p>

       <ul>
            <li>springboot交流群 - 关键字：springboot</li>
            <li>原创作者交流群 - 关键字：原创</li>
            <li>微信群交流，请在公号内回复 - 关键字：加群</li>
        </ul>

        <p><em>如果上面的群都不合适你，入群（<strong>200596287</strong>）交流IT人的技术与生活</em></p>-->

    <!--<h2>
         Note
       </h2>

        <p>
         自从写博客开始，开始陆续有一些机会和同行在线上交流，但是也遇到了一些困惑，有的朋友加我之后，直接就抛出一堆错误日志，有的上来默不作声，有的更是质疑不断... 当然更多的是一些友善、有乐趣的朋友。
       </p>

        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>

       <ul>
         <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
        </li>
        <li>如果是您的项目报错这类问题，我真的爱莫能助，大部分的情况错误信息都是需要根据本项目或者业务去调试的，仅有很少的一部分通过日志就可以定位到问题，当然这种错误网上应该都会有解决方案。
        </li>
         <li>如果您想和我交流框架、性能优化这种大问题，因为太大我不知道从何说起，比如：上来就问 Spring Boot/Hadoop 并发量支持多少的这类问题，真对不起，本人才疏学浅真的爱莫能助，问题越具体交流越有效。
        </li>
        <li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">博客公众号二维码</a>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>-->

       <h2>
         History
       </h2>

       <ul>
            <li>2020年，建站，托管于 Github Pages。</li>
       <!-- <li>2017年，博客访问量突破百万。</li>
            <li>2018年，博客迁移到腾讯云服务器。</li>-->
        </ul>

       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个肉夹馍:)
       </p>

       <p align="center">
         <img src="assets/images/tip.jpg" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
