<div>
   <p align="center">
     	  {% if page.copyright %}
         <img src="/assets/images/{{ page.copyright }}.jpg" >
         <br/>
         路过的朋友，如果感觉文章对你有启发，能否微信扫一扫，随意打个赏
        {% else %}
         <img src="/assets/images/tip.jpg" >
         <br/>
         路过的朋友，如果感觉文章对你有启发，能否微信扫一扫，随意打个赏
        {% endif %}

   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（2020年4月之后的文章，如果需要转载，请注明作者和出处 <a href="http://qingen.github.io">呐喊的少年</a>）</strong>
       <br/>
       <strong>（2020年4月之前的文章，如果需要转载，请注明作者和出处 <a href="http://ityouknow.com">纯洁的微笑</a>）</strong>
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">
       <strong><a href="http://www.justdopython.com/" target="_blank">点击了解：Python从0到100天的学习教程</a></strong>
   </p>
</div>